

:root{
    --Darkcyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Verydarkblue: hsl(212, 21%, 14%);
    --Darkgrayishblue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* border: 2px solid black; */
    display: grid;
/*     
    font-family:  'Montserrat', sans-serif;
    font-family: 'Fraunces', serif; */
  
    justify-content: center;
    text-align: center;
    align-content: center;
    place-items: center;

    min-height: 100vh;
    width: 100%;
    min-width: 620px;
    max-width: 1440px;

    background-color: var(--Cream);
}

.main{
    /* border: 2px solid red; */
    display:flex;
    flex-direction: row;
    width: 50%;
    min-height: 500px;
  
    min-width: 620px;
    max-width: 1440px;
    
    justify-content: center;
    align-content: center;
    place-content: center;

     /* position: relative; */
    
    
}

.containerimg{
    /* border: 2px solid green; */
    width: 50%;
    min-height: 465px;
    height: 465px;
    background-image: url(image-product-desktop.jpg);
/*     background-size: contain;
    object-fit: cover;
    background-repeat: no-repeat; */
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-image: cover;
    background-size: 100%;
    object-fit: cover;
    
}
.image{


    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 500px;
   
    
    
}
.containertext{
    /* border: 2px dotted black; */
    width: 50%;
    height: 465px;
    min-height: 460px;
    justify-content: center;
    align-content: center;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    
    
    

}
.wrapper{
    /* border: 3px solid black; */
    min-height: 465px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   align-items: left;
   text-align: left;
   padding-left: 30px;
   padding-right: 20px;
   /* margin: auto; */
   
}
.perfume{
    font-family:  'Montserrat', sans-serif;
    font-weight: 700;
    opacity: 0.5;
}

.essence{
    font-family: 'Fraunces' serif;
}

.price{
    /* border: 2px solid red; */
    display: flex;
    gap: 25px; 
   
    
}

.newprice{
    color: var(--Darkcyan);
    font-family: 'Fraunces', serif;
}
.oldprice{
    margin-top: 10px;
    opacity: 0.5;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

}


.detail{
    /* border: 3px solid black; */
    font-size: 14px;
    min-height: 100px;
    max-width: 200px;
    opacity: 0.5;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 20px;
    
}
.btn{
    cursor: pointer;
    
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    color: white;
    background-color: var(--Darkcyan);
    border: none;
    border-radius: 8px;
    min-height: 60px;
}
.btn:hover{
    background-color: hsla(158, 77%, 12%, 0.9);
}
.authorized{
    justify-content: center;
    text-align: center;
    font-size: 11px;
    /* border: 2px solid black; */
    /* min-height: 30px;
    width: 50%; */
}

@media only screen and (max-width: 420px){

    body{
        display: block;
        justify-content: center;
        text-align: center;
        align-content: center;
        place-items: center;
        padding-top: 100px;
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .containerimg{
        background-image: url('image-product-mobile.jpg');
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 60%;
        height: 150px;
        min-height: 0;
        background-image: cover;
        background-size: 100%;
        object-fit: cover;
        /* border: 2px solid black; */
    
    }
    .containertext{
        width: 60%;
        min-height: 0;
        justify-content: center;
        align-items: center;
        padding: 0 20px 0 20px ;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .authorized{
        justify-content: center;
        align-items: center;
       
    }
    
}

/* srcset="image-product-mobile.jpg" sizes="(max-width: 420px)" */
